<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <% if @post.photo.present? %>
    <p><%= image_tag @post.photo.url(:medium) %></p>
  <% end %>

  <p><%= link_to @post.user.name, @post.user %></p>

  <% if @post.user == current_user %>
    <%= link_to "Edit this post", edit_post_path(@post) %>
    <%= button_to "Destroy this post", @post, method: :delete %>
  <% end %>

  <p>
    <%= link_to "Back to posts", posts_path %>
  </p>

</div>
